*{margin: 0;
    padding: 0;
}
:root {
    --text-bg-color: rgba(76, 75, 75, 0.62); /* backdrop blur(30px) */
    --nav_items_color:#e76b28;
    --nav-items-font:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-fmailiy-serif:'Roboto Serif', serif;
    --footer-tel : rgb(231, 140, 12);
    --sidebar-bg:rgba(0, 0, 0, 0.898);
  
  }
  html{
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    background-image: url(/assets/images/about1.jpg);
  }

body{
    font-family: 'Roboto Serif', sans-serif;

    /* url(/assets/images/placementAreae6a51aa8.png) */;
    
    background-repeat: no-repeat;
    
    margin:0 auto;
    justify-content: center;
    
    display: grid;
    grid-template-columns: repeat(12,100px);

    grid-template-rows: repeat(3,minmax(60px,auto));
    
    


}

/* ------ header ------ --------------------*/

header{
/*     background-color: rgb(209, 210, 210);
 */    grid-column: 2/12;
    grid-row:1/2 ;
   


}
.navitems{
    display:flex;
    width: 100%;
    
    color:rgba(34, 93, 119, 85%);
   
}
.navitems a{ /*by this ,remove normal a link style to menue items */
    text-decoration: none;
    color:var(--nav_items_color);
    

}
.navitems a:hover{ /*by this ,remove normal a link style to menue items */
    text-decoration: none;
    color:rgb(89, 89, 89);
    text-shadow: 0px 1px 0px rgba(36, 31, 25, 0.549);

}
.active {
    color: #ff0000 !important; /* Set the desired color for the active menu item */
    
    border-bottom: 2px dotted rgb(19, 16, 3);
  }
.navitems .social > span a{ 
    color:var(--nav_items_color);
    
    border-radius: 2em;
    padding: 0.4em;
}
.navitems .social > span a:hover{
    text-shadow: 0px 2px 0px rgba(34, 33, 32, 0.549);
    color: #c2c242 !important;
    
}



.logo{
width:30%;

display: flex;
align-items: center;
font-family: 'Roboto Serif', serif;
font-size: larger;
font-weight: 600;  
}
.logo img{
    width: 40%;
    filter: drop-shadow(0px 2px 8px rgba(90, 85, 85, 0.558));
    cursor: pointer;
}


.navmenu{
    
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.navmenu ul{
    display:flex;
    text-decoration: none;
    gap:1.2em;
    
}
.navmenu li{
    list-style-type: none;
    
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;

}
.navmenu li:first-child{
    color:rgb(165, 14, 138);
}

.social{
    
    
    flex-grow:1;
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap:1.5em;
    font-size: large;
}
.navitems .social > span a:hover{
    text-shadow: 0px 2px 0px rgba(34, 33, 32, 0.549);
    color: #c2c242 !important;
    
}

header .hamburger{
    display: none;
}


/* ------main  -------------------  ------ */
main{
    /* background-color: blue; */
    grid-column: 2/12;
    grid-row: 2/3;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}
article{
    display: flex;
    padding: 10%;
    width: 80%;
    justify-content: space-evenly;
    backdrop-filter: blur(20px);
    position: relative;

}
article h2{
    position: absolute;
    margin-top: -1em;
}


.formcontent{
    background-color: #383838a2;
    backdrop-filter: blur(30px);
    position: relative;
    display: flex;
    flex-direction: column;
    width:40%;
    align-items: center;

   
}
.formname i {color: rgb(237, 237, 237);     /* envelop icon */
text-shadow: 1px 2px 7px #1b1818;

}
form .formname{

    
    font-size: x-large;
    /* align-self: center; */
    margin: 0 auto;
    width: 2em;

    margin-bottom: -1.5em;
}



form{
    padding-top: 1.2em;
    
    line-height: 2.5em;
}

form input{
    background-color: rgb(227, 227, 227);
    border-radius: 1em;
    padding: 0.4em;
    height: 1.4em;
    border:1px solid white;
    

}


form input[type="submit"]{
    width: 7em;
    height: 2.2em;
    background-color: #181818;
    color:white;

}
form textarea{
    border-radius: 1em;
    background-color: rgb(227, 227, 227);
    padding-top: 1em;
    margin-top: 0.5em;

}

/* --- */
.ourinfo{
    
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
    color: azure;

}
.ourinfo p i{
    margin: 0 5px 0 5px;
}
.ourinfo .socials{
    text-align: center;
    
}
.socials i{
    margin-left: 8px ;
    margin-right: 8px;
    font-size: x-large;
}


.contact-info{
    color:#eaf0ba;
    padding: 1%;
    
    align-self: center;
    color:#1b1818
}
.contact-info ul{
    list-style-type:square;
    color:#eaf0ba;
    
    padding-left: 8%;
    padding-top:5%;
    color:rgb(24, 6, 47);

}
.contact-info ul a{
    list-style-type:square;
    color:#eeefe3;
    text-shadow: 1px 1px 1px rgb(105, 81, 81);
    padding-left: 8%;
    padding-top:5%;

}

 


/* ------footer ------------------ ------ */

footer{
    /* background-color: blanchedalmond; */
    grid-column: 2/12;
    grid-row:3/4;
    text-align: center;
    color:white;
    padding: 2%;
}
footer a{
    color:aquamarine
}
.atol_img{
    width:40%;
}
.sidebar{
    display: none;
}
@media screen and (min-width: 700px) and (max-width:1000px) { /* ipad mini */
    header{
        grid-column: 3/12;
        padding: 1em;
    }
    header .social{
        margin-left:-1em;
    }
    main{
        grid-column: 1/9;
    }
    article{
        margin-top: -3.5em;
        backdrop-filter:blur(00px) ;
        
        padding-bottom: 0;

        margin-bottom: 1em;
        

        
    }


    .ourinfo{
        
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 2em;
        color: rgb(235, 241, 241);

        text-shadow:1px 1px #39383c;
    
    }
   
    
    
    .contact-info{
        
        align-self: center;
        color:#25280e;
        padding-right: 2em;
        
       
    }
    .contact-info ul{
        list-style-type:square;
        color:#130c1e;
        text-shadow:1px 1px 1px #686873;
        padding-left: 8%;
        padding-top:5%;
    
    }
    .contact-info ul a{
        list-style-type:square;
        color:#eeefe3;
        padding-left: 8%;
        padding-top:5%;
    
    }
    
     

} 

@media screen and (max-width: 500px) {
    body{
        background: url(/assets/images/about1.jpg);

        background:#356e8d52;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        margin:0 auto;
        
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr ;
    
        grid-template-rows: repeat(3,minmax(100px,auto));
    
       
        align-items: center;

    
    }
   
    header{
        grid-column: 1/12;
        grid-row: 1/2;
        z-index: 1;
    }
    .logo{
        width:40%;
        
        display: flex;
        align-items: center;
        font-family: 'Roboto Serif', serif;
        font-size: larger;
        font-weight: 600;  
        }
        .logo img{
            width: 60%;
            filter: drop-shadow(0px 2px 8px rgba(90, 85, 85, 0.558));
        }




    .navmenu,.social{
        display: none; /* hide menu for mobile view */
    }
    .navitems{
        display: flex;
        gap:10em;
        align-items: center;

        position: fixed;
        top:0;
        background-color: #d7dcd6a3;
        backdrop-filter: blur(20px);


    }

    .navitems a{ /* Logo text */
        color:#a84102

    }
    header .hamburger{
        display: block;
        height: 40px;
        width: 30px;
        background-color: rgba(86, 88, 94, 0.377);
        border:none;
        font-size: larger;
        color: antiquewhite;
    }
    .hamburger.cross{
        position: fixed;
        top: 0;
        left: 9em;
    }

  
    .sidebar {
        display: block;
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%; 
        height: calc(100vh ); 
        background:var(--sidebar-bg);
        backdrop-filter: blur(30px);
        
        transition: right 0.5s ease-out; 

        color :white;
        
        
        border-top-left-radius: 1em;
        font-family: 'Roboto Serif', sans-serif;

        z-index: 1;
        


      }
      .sidebar ul{
        margin-top: 1em;
      }
      .sidebar a{
        color:rgb(211, 210, 210);
        font-size: 1.2em;
        text-decoration: none;
        padding: 0.7em;


      }
      .sidebar a:hover{
        color:white;
      }
      
      .sidebar.active {
        right: 0;
        
      }

      .sidebar li{
        line-height: 1.7em;
        list-style: none;
        padding: 0.6em;
        border-bottom: 1px solid white;

      }
      
      .sidebar li i{
        width:20px;
        padding-right: 0.6em;

      }
      .sicons i{
        font-size: xx-large;
        color:white;
        padding: .5em;
        
        

      }
      .sicons i:hover{
        
        color:rgb(215, 209, 15);

      }
      .sicons i{
        font-size: xx-large;
        color:white;
        padding: .3em;
        
        

      }
      .sicons i:hover{
        
        color:rgb(215, 209, 15);

      }


    
      
    
    aside{
        padding:1em;
        position: relative;
    }
    .cross{
        color:#ece8e8;
        position: relative;
      

        font-size: x-large;
        border-radius: 1em;
    }


    /* ---------main ____- */

    main{
        
        align-items: center;
        align-content: center;
        width: 100%;
        
    }
    main{
        /* background-color: blue; */
        grid-column: 2/12;
        grid-row: 2/3;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    article {
        display: flex;
        flex-direction: column;
        padding: 2% !important;
        width: 94%;
        background-color: #00000051;
        
        /* f
        lex-wrap: wrap; */
    }
    article h2{
        display: none;    }
    .ourinfo{
        
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 2em;
        color: rgb(239, 239, 239);

        text-shadow: 1px 1px #504b4b;
        
    
    }
   
    
    .contact-info{
        color:#aeb945;
        padding: 1%;
        
        
    }
    .contact-info ul{
        list-style-type:square;
        color:#eaf0ba;
        text-shadow:1px 1px 1px #6962d3;
        padding-left: 8%;
        padding-top:5%;
    
    }
    .contact-info ul a{
        list-style-type:square;
        color:#eeefe3;
        padding-left: 8%;
        padding-top:5%;
    
    }
    
    
   
    /*----footer style--- */
    footer{
        /* background-color: blanchedalmond; */
        grid-column: 1/12;
        
        text-align: center;
        color:white;
        padding: 1%;
        font-size: 1.1em;
        
    }
    footer a{
        text-decoration:none;
    }
    .atol_img{
        width:40%;
    }


    
  }

  @media screen and (min-width: 600px) and (max-width: 900px) {
    .whole_bg{
        position: fixed;
        z-index: -1;
        width:109vw;
        height:100vh;
        background-color: rgba(78, 136, 138, 0.45);
        backdrop-filter: blur(00px);
    }



    body {
        
       grid-template-columns: repeat(8, 1fr); 
      
    }
 
    header {
       grid-column: 1 / 9; /* Adjust the grid  */
       backdrop-filter: blur(20px);
    }
    .logo {
        width: 32%;
        
    }




    .navitems{
        gap:2em;
    }
    .social {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }
 
    main {
 
        padding-top: 4%;
       grid-column: 1 / 9; /* grid column values for the main content */
    }
    main .special{
        
        width: unset;

    }
    article{
  
        backdrop-filter: blur(30px);
        position: relative;
    
    }
    
    
 
 
    footer {
       grid-column: 2 / 8; /*  grid column values for the footer */
        /* position: absolute;
        bottom: 0; */
        
        
       
       
    }
 
    /* Add more specific styles for tablet screens as needed */
 }

 @media screen and (min-width: 900px) and (max-width: 1100px){
   
    
 
    .navitems{
        gap:1em;
    }
 
    main {
        

       grid-column: 3 / 12; /* increase grid column values for the main content  for big tablets and desktop*/
    }
   
  
 
   
 
 
    footer {
       grid-column: 2 / 8; /* Adjust the grid column values for the footer */
        
 
       
    }
 
    /* Add more specific styles for tablet screens as needed */
 }