*{margin: 0;
    padding: 0;
}
body{
    margin:0 auto;
    justify-content: center;
    
    display: grid;
    grid-template-columns: repeat(12,100px);
    grid-template-rows: repeat(4,minmax(100px,auto));
}
/* ------ header ------ --------------------*/

header{
    background-color: aqua;
    grid-column: 2/12;
    grid-row:1/2 ;


}
.navitems{
    display:flex;
    width: 100%;
    border: 1px dashed blue;
}

.logo{
width:30%;
border: 1px solid red ;
display: flex;
align-items: center;
   
}
.logo img{
    width: 40%;
}
.navmenu{
    border: 1px solid yellow;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.navmenu ul{
    display:flex;
    text-decoration: none;
    
}
.navmenu li{
    list-style-type: none;
    margin: 5%;
    color:rgba(34, 93, 119, 85%);
    font-family: 'Noto Sans Display', sans-serif;

}




/* ------main  -------------------  ------ */
main{
    background-color: blue;
    grid-column: 2/12;
    grid-row: 2/3;
}
/* ------footer ------------------ ------ */

footer{
    background-color: blanchedalmond;
    grid-column: 2/12;
    grid-row:3/4;
}
