*{margin: 0;
    padding: 0;
}

body{
    background: 
    url(/assets/images/plane4.png)
    /* url(/assets/images/placementAreae6a51aa8.png) */;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    background-position: center;
    margin:0 auto;
    justify-content: center;
    
    display: grid;
    grid-template-columns: repeat(12,100px);

    grid-template-rows: repeat(3,minmax(20px,auto));

   grid-template-areas: 'header . . .'
                        'main main footer'
                        'footer main footer';


}

/* ------ header ------ --------------------*/

header{
/*     background-color: rgb(209, 210, 210);
 */    grid-column: 2/12;
    grid-row:1/2 ;


}

.navitems{
    display:flex;
    width: 100%;
    
    color:rgba(225, 234, 238, 0.85);
    text-shadow: 0px 2px 07px rgba(36, 34, 34, 0.246);
}
.navitems a{ /*by this ,remove normal a link style to menue items */
    text-decoration: none;
    color:white;
    text-shadow: 0px 2px 3px rgba(36, 31, 25, 0.549);

}
.navitems a:hover{ /*by this ,remove normal a link style to menue items */
    text-decoration: none;
    color:rgb(89, 89, 89);
    text-shadow: 0px 1px 0px rgba(36, 31, 25, 0.549);

}
.active {
    color: #ff0000 !important; /* Set the desired color for the active menu item */
    
    border-bottom: 2px dotted rgb(19, 16, 3);
  }
.navitems .social > span a{ 
    color:yellow !important;
    text-shadow: 0px 2px 3px rgba(36, 31, 25, 0.549);
    border-radius: 2em;
    padding: 0.4em;
}
.navitems .social > span a:hover{
    text-shadow: 0px 1px 0px rgba(36, 31, 25, 0.549);
}



.logo{
width:30%;

display: flex;
align-items: center;
font-family: 'Roboto Serif', serif;
font-size: larger;
font-weight: 600;  
}
.logo img{
    width: 40%;
    filter: drop-shadow(0px 2px 8px rgba(90, 85, 85, 0.558));
}
.navmenu{
    
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.navmenu ul{
    display:flex;
    text-decoration: none;
    gap:1.2em;
    
}
.navmenu li{
    list-style-type: none;
    
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;

}
.navmenu li:first-child{
    color:rgb(165, 14, 138);
}

.social{
    
    
    flex-grow:1;
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap:1.5em;
}
.social > span{
    color:rgb(223, 101, 14);
    
    text-shadow: 0px 2px 07px rgba(203, 111, 18, 0.549);

}

header .hamburger{
    display: none;
}

#bgvid {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .bgimage{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

  }
/* ------main  -------------------  ------ */
main{
    /* background-color: blue; */
    grid-column: 2/12;
    grid-row: 2/3;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}
main .inviting{
    color:white;
    
   /*  background-color: rgba(0, 0, 0, 0.252); */
    padding: 11%;
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 6%;
    
}
.inviting .mobile_heading{
    display: none;
}
.inviting .text_h2_p{
    width:80%;
    padding:1em;
    
    background-color: rgba(79, 81, 80, 0.187);
}

.continents{
    display: flex;
    gap:2em;

}
.continents div{
    width: 240px;
    height: 138px;
    color:antiquewhite;
    border: 1px solid rgba(255, 255, 255, 0.372);
    
}
.continents div:first-child{
    background-color: azure;
    
    background: url(/assets/images/america.png) left no-repeat;
    
    background-size:cover;
    position: relative;
    padding: 0.4em;

    
}
.continents div:nth-child(1) p{
    position: absolute;
    width: 50%;
    top:0.8em;
    left:0.8em;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.766);

}
.continents div:nth-child(2){
    background-color: black;
    background: url(/assets/images/placementAreae6a51aa8.png) left no-repeat;
    background-size: cover;
    position: relative;
    text-align:start;
    padding: 0.4em;


}
.continents div:nth-child(2) p{
    position: absolute;
    bottom:2em;
    left:3.7em;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.399);


}

.continents div:nth-child(3){
    
    background: url(/assets/images/placementArea.png) left no-repeat;
    
    background-size: cover;

    text-align: end;
    padding: 0.4em;
    position: relative;


}
.continents div:nth-child(3) p{
    position: absolute;
    top:1em;
    right:0.8em;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.399);


}


/* ------footer ------------------ ------ */

footer{
    /* background-color: blanchedalmond; */
    grid-column: 2/12;
    grid-row:3/4;
    text-align: center;
    color:white;
    padding: 2%;
}
footer a{
    color:aquamarine
}
.sidebar{
    display: none;
}


@media screen and (max-width: 500px) {
    body{

        background: url(/assets/images/placementArea64282058.png);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        margin:0 auto;
        
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr ;
    
        grid-template-rows: repeat(3,minmax(100px,auto));
    
       
        align-items: center;

    
    }
    #bgvid,.bgimage{
        display: none;
    }

    header{
        grid-column: 1/12;
        grid-row: 1/2;
    }
    .logo{
        width:40%;
        
        display: flex;
        align-items: center;
        font-family: 'Roboto Serif', serif;
        font-size: larger;
        font-weight: 600;  
        }
        .logo img{
            width: 60%;
            filter: drop-shadow(0px 2px 8px rgba(90, 85, 85, 0.558));
        }




    .navmenu,.social{
        display: none; /* hide menu for mobile view */
    }
    .navitems{
        display: flex;
        gap:10em;
        align-items: center;

        position: fixed;
        top:0;
        background-color: #d7dcd6a3;
        backdrop-filter: blur(20px);


    }
    header .hamburger{
        display: block;
        height: 40px;
        width: 30px;
        background-color: rgba(86, 88, 94, 0.377);
        border:none;
        font-size: larger;
        color: antiquewhite;
    }
    .hamburger.cross{
        position: fixed;
        top: 0;
        left: 9em;
    }

  /*   .sidebar.active {
        display: block;
        position: fixed;
        top: 0;
        left: 10em;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        overflow: auto;
        z-index: 1;

    } */
    .sidebar {
        display: block;
        position: fixed;
        top: 0;
        right: -100%;
        width: 170px; 
        height: 100%;
        background:rgba(38, 38, 106, 0.687);
        background: #71718596;
        backdrop-filter: blur(20px);
        
        transition: right 0.5s ease-out; 

        color :white;
        
        
        border-top-left-radius: 1em;
        font-family: 'Roboto Serif', sans-serif;


      }
      .sidebar ul{
        margin-top: 1em;
      }
      .sidebar a{
        color:rgb(51, 50, 50);
        font-size: 1.2em;
        text-decoration: none;
        padding: 0.7em;


      }
      .sidebar a:hover{
        color:white;
      }
      
      .sidebar.active {
        right: 0;
        
      }

      .sidebar li{
        line-height: 1.7em;
        list-style: none;
        padding: 0.6em;
        border-bottom: 1px solid white;

      }
      
      .sidebar li i{
        width:20px;
        padding-right: 0.6em;

      }


    
      
    
    aside{
        padding:1em;
        position: relative;
    }
    .cross{
        color:#ece8e8;
        position: relative;
      

        font-size: x-large;
        border-radius: 1em;
    }


    /* ---------main ____- */

    main{
        grid-column: 1/12;
        grid-row: 2/3;
        align-items: center;
        align-content: center;
        width: 100%;
        
    }
    main .inviting{
        color:rgb(43, 41, 41);
        
       /*  background-color: rgba(0, 0, 0, 0.252); */
        
        padding:2%;
        padding-left: 1%;
        padding-right: 10%;
        padding-bottom: 8%;
        
        
    }
    .inviting .text_h2_p{
        display: none;
    }
    .inviting .mobile_heading{
        display: block;
        width:100%;
        padding:1em;
        line-height: 1.6em;
        font-family: 'Roboto Serif', serif;
        text-shadow: 1px 1px #aeb1b4;
        color:rgb(74, 37, 37)

        
    }
    .mobile_heading p {
        font-size: 1.4em;
        color: #2c2b2b;
        text-shadow: 1px 1px #aeb1b4;
        padding-left: 8%;
    }
    .continents div{
        width: 326px;
        height: 158px;
        color:antiquewhite;
        border: 1px solid rgba(255, 255, 255, 0.372);
        font-size: 1.4em;
        z-index: -1;
    }
    
    .continents{
        display: flex;
        flex-direction: column;
        gap:1em;
        align-items: center;
    
    }

    /*----footer style--- */
    footer{
        /* background-color: blanchedalmond; */
        grid-column: 1/12;
        
        text-align: center;
        color:white;
        padding: 1%;
        font-size: 1.1em;
        
    }
    footer a{
        text-decoration:none;
    }


    
  }