<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Serif,opsz@1,8..144&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/ecedfde1ad.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/templates/css_temp/style.css" />

    <title>Travelwander.com</title>
  </head>

  <body>
    <header>
      <nav class="navitems">
        <div class="logo">
          <img
            src="/assets/images/travellogo1.png"
            alt="Logo of travelwander"
          /><a href="/index.html">Travelwander.com</a>
        </div>
        <div class="navmenu">
          <ul class="menu_line">
            <li>deals</li>
            <li><a href="/packagesall.html">packages</a></li>
            <li><a href="/contact.html">contact</a></li>
            <li><a href="/contact.html">about</a></li>
          </ul>
        </div>
        <div class="social">
          <span class="insta"><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></span>
          <span class="face"><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a></span>
          <span class="twitter"><a href="https://twitter.com/?lang=en-gb"><i class="fa-brands fa-x-twitter"></i></a></span>
        </div>
        <button class="hamburger" onclick="toggleNav()">☰</button>
        <aside class="sidebar">
          <h2 class="cross"><i class="fa-solid fa-circle-xmark"></i></h2>
          <ul class="sidebar_ul">
            <li><a href="/index.html" aria-label="Home"><i class="fa-solid fa-house"></i>HOME</a></li>
            <li><a href="#" aria-label="Deals"><i class="fa-solid fa-dollar-sign"></i>Deals</a></li>
            <li><a href="/packagesall.html" aria-label="Packages"><i class="fa-solid fa-gift"></i>Packages</a></li>
            <li><a href="/contact.html" aria-label="Contact"><i class="fa-solid fa-envelope"></i>Contact</a></li>
            <li><a href="/about.html" aria-label="About"><i class="fa-solid fa-exclamation"></i>About</a></li>
          </ul>
        </aside>
      </nav>
    </header>
    <footer>
        <p>
          Call a customer support rep at
          <a href="tel:0448987555666">0448987555666</a>.
        </p>
      </footer>
  
      <script>
        function toggleNav() {
          const sidebar = document.querySelector(".sidebar");
  
          sidebar.classList.toggle("active");
        }
        function closeNav() {
          const sidebar = document.querySelector(".sidebar");
          sidebar.classList.remove("active");
        }
        document.querySelector('.cross').addEventListener('click',closeNav);
        
      </script>
    </body>
  </html>